@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    overflow-x:hidden;
    max-width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    font-weight:normal;
    font-size:15px;
    line-height:1.6;
}

img,
a img{
    max-width:100%;
    height:auto;
    display:block;
    position:relative;
}

a{
    text-decoration: none;
    color: #b5a061;
}

.small{
    font-size:90%;
}

.big{
    font-size:120%;
}

h1,
h2,
h3{
    font-family: 'Playfair Display',serif;
    font-weight: 400;
}

#main-content{
    width:95%;
    margin:50px auto;
}

.red{
    color:red;
}
.center
{
    text-align:center
}